
#Node
logs/
coverage/
build/
dist/
backend/coverage/
node_modules/
backend/node_modules/
*.tsbuildinfo
.npm
.eslintcache
.env
.env.test
.env.development
.next

#Jetbrains
.idea/

#MacOS
.DS_Store

# Secrets
backend/data/secrets.json

#VSCode Config
.vscode
